{% extends "base.html" %}

{% block title %}Search{% endblock %}

{% block content %}
    <div id="wrapper"> 
	    <div class="breadcrumbs">
	        <a href="/" class="home">Home</a>
	        <span> >> </span>
	        <span>Search</span>
	    </div>
	    
	    <div class="toolbar">    
	        <div class="search_control">
	            <input type="text" name="expression" class="tuned ui-widget-content ui-corner-all" />
	            <input type="button" name="search" value="search"/>
	        </div>
	        <div class="clear"></div>
	    </div>
	
	    <!-- to be populated with ajax request data -->
	    <div id="books_container">
	    </div>
    </div>
    
    <div class="forms">
        <form id="search_book_form" action="/books/search" method="post">
            <input type="hidden" name="name" value=""/>
            <input type="submit" value="submit"/>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{url_for('static', filename='scripts/search_book.js')}}"></script>
{% endblock %}